/* cambiar por fixed, absolute o relative*/
/*.wildlife{
  position: absolute; 
  margin:0;
  top:0px;
  left:0px;
  height:60px;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
}*/
/*
Importancia
  3) Hojas de estilo del Agente de Usuario (Navegador)
  2) Hojas de estilo del Usuario 
  1) Hojas de estilo del Autor (.css)

Especificidad

  <h1 class="heading" id="heading style="color: tomato">
    Hola Mundo
  </h1>

----
  .heading{
    color:blue;
  }
  #heading{
    color:black;
  }
  h1{
    color: green;
  }

Orden de la fuente
- Orden en que se declaran los CSS
*/

