body{
  color: #878787;
  margin:0;
}

.main-header{
  background-color: red;
}

h1{
  font-size: 90px;
  color:white;
}

h2{
  font-size: 53px;
}
h3{
  font-size:20px;
  color:#48525c;
}

.contenido-primario{
  /* border:3px solid red; */
  text-align: center;
}

.borde-t{
  border-top: 2px solid lightgrey;
}

#footer-principal{
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;
}

/*PSEUDO CLASES*/

a:link{
  color: orange;
}

a:visited{
  color: lightblue;

}

a:hover{
  color: forestgreen;
}


a:active{
  color:lightcoral;
}

a:focus{
  color:white;
  background-color: orange;
}

.galeria-imagenes ul{
  list-style-type:none;
  text-align:center;
  margin:0;
  padding: 0;
}
.galeria-imagenes ul li{
  display: inline;
}

.galeria-imagenes ul li img{
  height: 100px;
  width: 50px;
}



